//正文大号字体颜色和大小变量,字体颜色只有两种
$font:14px;
$color:#666;

//正文小号字体颜色和大小变量
$sfont:12px;
$scolor:#989898;

// 一级标题字体颜色和大小变量
$h1-font:18px;
$h1-color:#666;

// 二级标题字体颜色和大小变量
$h2-font:16px;
$h2-color:#666;

//边框颜色
$borderColor:#e4e4e4;

//大中小三种间隔
$sLine:16px;
$cLine:24px;
$bLine:32px;

$color_primary:#e6f3fc;

$commonSpace:16px;

$borderRadius:4px;